<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
      <h1 style="margin-bottom:40px;">New Playground to show off my skill-set...</h1>
        <p>
            <strong>Testing</strong><br>
            This is where I am testing the Magic the Gathering SDK...
            <%= @card %><br><br>
            
            <%= @cards %>
        </p>
  </div>
</div>