<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
      <h1 style="margin-bottom:40px;">New Playground to show off my skill-set...</h1>
        <p>
            <strong>CAREER OBJECTIVE</strong><br>
            From simple websites to scalable applications I am a software developer 
            with the ability to work independently or in a collaborative environment 
            to deliver high quality applications while adhering to strict deadlines. 
            I am eager to obtain a challenging new position, to advance my knowledge 
            of <b>Ruby on Rails</b> and <b>React.js</b> and to be a part of building 
            something truly amazing. 
        </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-4 col-xs-offset-2">
      <p>
          <strong>7+ years Ruby on Rails</strong><br>
          ● Full-stack Development<br>
          ● Linux/Ubuntu, Heroku, PostgreSQL, AWS<br>
          ● Javascript, jQuery, Bootstrap, React<br>
          ● Background Jobs with Redis<br>
          ● Github - Source Control<br>
          ● Devise User Authentication<br>
          ● Test Driven Development - MiniTest/RSpec
      </p>
  </div>
  <div class="col-xs-5">
      <p>
          <strong>20+ years Web Development</strong><br>
          ● HTML5, CSS3, Javascript, jQuery, PHP<br>
          ● Apache, WHM, CPanel<br>
          ● WordPress Custom Plugins and Themes<br>
          ● Leaflet.js Javascript Library for Interactive Maps<br>
          ● S2Member for User Authentication <br>
          ● SEO, Social Media Marketing<br>
          ● Adobe Suites: Photoshop, Illustrator, Premiere
      </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
        <h3>Work Experience</h3>
        <p>
            work.shopMG, LLC - <i>Remote</i><br>
            <strong>Senior Software Developer</strong> - April 2014 - January 2023 (9 years)<br>
            ● Created a retail leasing and tenant delivery Ruby on Rails application 
            with interactive mapping to track large-scale Retail Property Development 
            Projects.<br>
            ● Created a Customer Relationship Management (CRM) Ruby on Rails application 
            used to track projects, keep records and track costs.<br>
            ● Created an Associate Tracker with Ruby on Rails to track hundreds of leasing representatives for current and upcoming projects.<br>
            ● Created Digital Design Criteria Manuals on custom password protected 
            WordPress Multi-sites containing rules, regulations, blue prints, 
            leasing plans and directories for Property Development companies 
            managing multiple large-scale projects.<br>
            <strong>● Ruby on Rails, HTML5, CSS3, Javascript, PHP, WordPress.</strong>
        </p>

        <p>
            231webdev.com - <i>Muskegon, MI</i><br>
            <strong>Freelance Web Developer (Full-Stack)</strong> - January 2012 - April 2014 (2.5 years)<br>
            ● Freelance web design/development. Primarily focused on building for 
            small businesses. From the start of the sale, to the design, 
            development, delivery and collecting, doing it on your 
            own takes perseverance and attention to detail plus a 
            mastery of multiple aspects of marketing.<br>
            ● Custom WordPress websites and applications. Reseller 
            hosting, WHM and CPanel. Maintaining relationships and 
            tracking sales and billing.<br>
            <strong>● HTML5, CSS3, Javascript, PHP, WordPress, server-administration, billing.</strong>

        </p>

        <p>
            DualLiner.com - <i>Norton Shores, MI</i><br>
            <strong>Web Developer/SEO Specialist</strong> - 
            June 2010 - Jan 2012 (1.5 years)<br>
            ● Worked as part of a four man team doing a North American SEO 
            (Search Engine Optimization) strategy selling DualLiner Truck Bedliners.<br>
            ● Created over 100 bedliner WordPress sites with content 
            specific to the area such as bedlinersintexas.com and/or 
            bedlinersinhouston.com. Learned about copywriting, keeping 
            content original and multiple link building strategies.<br>
            ● Created countless ads and graphics utilized in Google adwords 
            in coordination with our head of sales.<br>
            <strong>● HTML5, CSS3, Javascript, PHP, WordPress, server-administration, sales, billing.</strong>

        </p>
        
        <p>
          Muskegon Biker LLC - <i>Muskegon, MI</i><br>
          <strong>Web Developer/Marketing/Sales</strong> - 
          Feb 2009 - Aug 2010 (1 yr 7 mos)<br>
          ● Own/operate Muskegon Biker LLC, specializing in motorcycle 
          related advertising, web design, graphics, social networking and SEO.<br>
          ● Muskegonbiker.com started as a motorcycle event related calendar 
          for West Michigan and turned into a money maker for me and an 
          important stepping stone in my history as a developer.<br>
          ● This was some of my first custom WordPress stuff including being 
          able to add events to a calendar by sending the site an email, 
          custom PHP calendar that would remove events once the date had passed.<br>
          ● There was a stretch of a few years where this site drew big numbers 
          and good Google Adsense revenue especially in the summers and was the
          place to go for the lowdown on events like Muskegon Bike Time and 
          Summer Celebration.<br>
         <strong> ● HTML5, CSS3, Javascript, PHP, WordPress, server-administration, sales, billing.</strong>
        </p>
        

  </div>
</div>


<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
        <h3>Contact</h3>
        <p>
          <strong>Jeremy Gradisher</strong><br>
          jeremygradisher@gmail.com <br>
          (231) 343-7753 <br>
          Muskegon, MI 49441 <br>
          <a href="https://linkedin.com/in/jeremygradisher">linkedin.com/in/jeremygradisher</a><br>
         <a href="https://github.com/jeremygradisher">github.com/jeremygradisher</a>
        </p>
  </div>
</div>