//bootstrap clean-up
body {margin:0 !important;}
//bootstrap clean-up END

//form stuff
.form-control-image {
    vertical-align: top;
    height:18pt;
    margin-top:0;
    margin-bottom:0;    
    border-radius:4px;
    margin-right:4px;
}

.form-control-button {
    vertical-align: top;
    font-size:20pt;
    line-height:18pt;
    margin-top:0;
    margin-bottom:0;
    margin-right:4px;
}

.form-control {
    height:38px;
}

.form-control-button {
    vertical-align: middle;
    font-size: 16pt; }
//form stuff END
    
//small button clean-up  
.btn-xs {width:52px;margin-bottom:1px;}
a.btn-primary:visited, a.btn-danger:visited {color:#fff;}
a.btn-default:visited {color:#333;}
//small button clean-up END


//top logo
.navbar-brand img {max-height:44px;}
.navbar-brand {padding: 2px 2px;height: 48px;}

@media only screen and (max-width: 768px) {
.nav>li>a {padding: 6px 15px;}
}
//top logo

//colors
body {color:#333 !important;}
.navbar-default .navbar-nav>li>a,a,a:visited { color: #333 !important;}
a.btn-primary,a.btn-primary:visited, a.btn-danger,a.btn-danger:visited { color: #fff !important;}
//colors


//print stuff
@media print {
    .btn {display:none;}
    a[href]:after {content: none !important;}
}
//print stuff